<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <link rel="stylesheet" href="../../css/layui-table-select.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <script type="text/javascript" src="../../js/cookie.js"></script>
    <script type="text/javascript" src="../../js/ajaxQuery.js"></script>
    <script type="text/javascript" src="../../js/layui-table-select.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .laytable-cell-1-0-3 {
            overflow: visible;
        }
    </style>
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="testForm">
            <input class="layui-input" placeholder="开始日" name="startTime" id="startTime">
            <input class="layui-input" placeholder="截止日" name="endTime" id="endTime">
            <input type="text" id="name" name="name" placeholder="请输入订单名称" autocomplete="off" class="layui-input">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <table class="layui-table layui-form" id="productList" lay-filter="productList">
    </table>
</div>

<!--产品操作按钮-->
<script type="text/html" id="operateTpl">
    <button class="layui-btn layui-btn-xs" lay-event="chooseProduct">选择</button>
</script>

<!--产品创建日期模板-->
<script type="text/html" id="createTimeTpl">
    <input readonly="readonly" class="layui-input dateInput" placeholder="创建时间" name="createTime"
           value="{{d.createTimeStr}}"/>
</script>



<script>

    $(function () {
        parent.chooseProduct = null;
        bindInputParam("startTime");
        bindInputParam("endTime");
        bindInputParam("name");
    });
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#startTime' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#endTime' //指定元素
        });
    });
    layui.use(['table', 'form'], function () {
        var table = layui.table;
        var form = layui.form;
        table.render({ //其它参数在此省略
            url: "/product/list",
            elem: "#productList",
            page: true,
            cols: [[
                {field: 'name', title: "成品名称"},
                {field: 'amount', title: "成品数量"},
                {field: 'remainAmount', title: "成品剩余"},
                {field: 'createTime', width: 200, templet: '#createTimeTpl', title: "创建时间"},
                {field: 'id', width: 76, toolbar: '#operateTpl', title: "操作"}
            ]],
            where: getTableWhere(["startTime", "endTime", "name"]),
            done: function (res, curr, count) {
            }
        });

        table.on("tool(productList)", function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if (layEvent === 'chooseProduct') {  //删除当前选中行
                parent.chooseProduct = data;
                x_admin_close();
            }
        })
    })


</script>
</body>

</html>