<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>仓库管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <script type="text/javascript" src="../../js/cookie.js"></script>
    <script type="text/javascript" src="../../js/ajaxQuery.js"></script>
    <script type="text/javascript" src="../../js/layui-table-select.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="x-red">*</span>商品名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>种类
            </label>
            <div class="layui-input-inline">
                <select name="type" lay-verify="">
                    <option value="0">商品</option>
                    <option value="1">包材</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"> <span class="x-red">*</span>添加图片</label>
            <div class="layui-input-inline uploadHeadImage">
                <div class="layui-upload-drag" id="headImg">
                    <i class="layui-icon"></i>
                    <p>点击上传图片，或将图片拖拽到此处</p>
                </div>
            </div>
            <div class="layui-input-inline">
                <div class="layui-upload-list" >
                    <img class="layui-upload-img headImage" id="demo1"  style="height: 100px">
                </div>
                <p id="demoText"></p>
            </div>

        </div>
        <!-- 隐藏域  保存服务器返回的图片url 随请求一起提交上去-->
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="hidden" id="img" name="img" class="layui-input" lay-verify="img">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="specs" class="layui-form-label">
                <span class="x-red">*</span>规格
            </label>
            <div class="layui-input-inline">
                <input type="text" id="specs" name="specs" required="" lay-verify="specs"
                       autocomplete="off" class="layui-input" value="1">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="specsUnit" class="layui-form-label">
                <span class="x-red">*</span>单位
            </label>
            <div class="layui-input-inline">
                <input type="text" id="specsUnit" name="specsUnit" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" value="斤">
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
            </label>
            <button type="button" class="layui-btn" lay-filter="add" lay-submit="" id="btn_add">
            增加
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(["jquery", "upload", "form", "layer", "element"], function(){
        var $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer,
        element = layui.element,
            upload = layui.upload;

        //拖拽上传
        var uploadInst = upload.render({
            elem: '#headImg'
            , url: '/upload/imgUpload'
            , size:5120   //图片最大5M
            ,accept:'images'  //指定上传的文件类型为图片
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    //上传成功  将图片url保存到form表单隐藏域中
                    $('#demo1').attr('src', result);
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code == 0) {
                    layer.msg('上传失败');
                    //清空隐藏域的值
                    $("#img").val("");
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }else if (res.code==200) {
                    //将图片url 保存到form 表单隐藏域中 表单提交的时候一起提交
                    $("#img").val(res.data)
                }
                /*   //上传成功
                   //打印后台传回的地址: 把地址放入一个隐藏的input中, 和表单一起提交到后台, 此处略..
                   /!*   console.log(res.data.src);*!/
                   window.parent.uploadHeadImage(res.data.src);
                   //上传成功提示信息
                   var demoText = $('#demoText');
                   demoText.html('<span style="color: #8f8f8f;">上传成功!!!</span>');*/
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        element.init();


        //非负double小数  小数点后2位
        var reg=/^([1-9][0-9]*)+(.[0-9]{1,2})?$/;
        //自定义验证规则
        form.verify({
            name: function(value){
                if(value.length >36){
                    return '商品名称不能大于36个字符';
                }
                if(value.length===0){
                    return '商品名称不能为空'
                }
            },
            //校验图片是否上传
            img:function (value,item) {
                if (value==""){
                    return "请上传图片";
                }
            },
            specs:function (value,item) {
                // if (!reg.test(value)){
                //     return "请输入正确的规格！(有效值小数点后2位)";
                // }
                if (value.length>36) {
                    return "规格长度不超过36";
                }
            },
        });

        //监听表单提交事件
        form.on('submit(add)', function(data){
            //console.log(data.field.name);

            var data={
                name:data.field.name,
                type:data.field.type,
                img:data.field.img,
                specs:data.field.specs,
                specsUnit:data.field.specsUnit,
            }


            $.hoshi()
                .post('/goods/goodsTypeAdd')
                .formParam(data)
                .onSuccess(function () {
                    parent.layui.layer.msg("增加成功", {icon: 6});
                    //重新刷新当前页面
                    reloadTable(parent);
                })
                .linkStart($("#btn_add"));

            //return false;
        });


    });
</script>

</body>

</html>